
@use '../breakpoints/' as *;
@use '../globals/' as *;


// SCROLL CONTAAINER
.classcards {
    overflow: auto;
  white-space: nowrap;
}





// RESPONSIVE QUERIES
@include devices(mobile) {

}

.classes {
    background-color: #080b14;
    padding: 2.3rem;
    


    .ourclasses{
        @include devices(mobile) {
            font-size: 20px;
        }
        color: white;
        margin-bottom: 25px;
        font-size: $txt-miniheader-fontsize;
        font-weight: $header-fontweight;
    }

    // CLASS CARDS
    .classcards{
        display: flex;
        
        width: fit-content;
        gap: 10px;

        .ccard {
            @include devices(mobile) {
                flex-direction: column-reverse;
                height: max-content;
                width: max-content !important;
                padding: 2rem !important;
                text-align: center;
                .ccimg img{
                    width: 200px;
                    height: 190px;
                }
            }
            flex: 0 0 auto;
            color: white;
            align-items: center;
            display: flex;
            
            justify-content: space-around;
            width: 500px !important;
            height: 313px;
            padding: 1rem;
            background-color: $btn-bg-pink;
            border-radius: 10px;
            
            

            .ccinfo{
                @include devices(mobile) {
                    gap: 30px;
                    margin-top: 10px;
                    
                }
                display: flex;
                flex-direction: column;
                 gap: 100px;
                justify-content: space-between;
                .ccfoot{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                }
            }
            .ccdesc{
                max-width: 9rem;
                font-weight: $txt-miniheader-fontweight;
                font-size: 19px;
            }
            .cctitle {
                font-size: 17px;
            }
}
    }
    .ccauthor {
        display: flex;
        font-size: 14px;
        align-items: center;
        gap: 8px;
        img{
            width: 38px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        }
}
.ccimg img {
    width: 240px;
    height: 235px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
}

//  HOVER EFFECT OVER EACH CARD
.ccd1  {
    position: relative;
    background-color: rgb(119, 73, 255) !important;
    &:hover{
        cursor: pointer;
        @include ccd1-hover-bg;
    }
}
.ccd2  {
    // position: relative;
    background-color: rgb(59, 105, 230) !important;
    &:hover{
        cursor: pointer;
        @include ccd2-hover-bg;
    }
}
.ccd3  {
    position: relative;
    background-color: rgb(255, 81, 0) !important;
    &:hover{
        cursor: pointer;
        background-color: rgba(255, 81, 0, 0.438) !important;
        @include ccd3-hover-bg;
    }
}
.ccd4  {
    position: relative;
    background-color: rgb(255, 79, 88) !important;
    &:hover{
        cursor: pointer;
        @include ccd4-hover-bg;
    }
}