@use '../breakpoints/' as *;
@use '../globals/' as *;


footer {
    background-color: rgb(0, 0, 0);
    padding: 4rem 3rem;
    @include devices(mobile) {
       display: flex;
       flex-direction: column;
    }
}

.ft-sec{
   


    display: flex;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    justify-content: space-between;
    .logo {
        color: white;
        font-size: 30px;
        font-weight: 700;
        .fitness{
            color: cornflowerblue;
        }
    }
    .f-socials {
        display: flex;
        gap: 15px;
        a{
            height: 40px;
            width: 40px;
            justify-content: center;
            display: flex;
            background-color: rgb(160, 153, 154);
            border-radius: 50%;
            &:hover{
                background-color: white;
            }
            > img {
                width: 20px;
            }
        } 
    }
}

.fb-sec{
    @include devices(mobile) {
        flex-direction: column;
        gap: 25px;
        align-items: center;
        text-align: center;
       
    }


    padding: 2rem 0;
    display: flex;
    color: white;
    justify-content: space-between;

    .grid1{
        .newslatter{
            font-weight: 700;
            margin-bottom: 10px;
        }
        p{
            font-size: small;
            max-width: 250px;
        }
        input {
            padding: 10px;
            border-radius: 20px;
            border-style: none;
            background-color: grey;
            &::placeholder{
                padding-left: 10px;
                color: white;
            }
        }
        button {
            &:hover {
                cursor: pointer;
            }
        }
    }

    .grid2 {
        
        .links{
            font-weight: 700;
        }
        .sitemap{
            padding-top: 10px;
            ul{
                
                padding-left: 0;
                line-height: 1.5rem;
                font-size: small;
                a{
                    color: rgb(224, 219, 219);
                }
            }
        }
        ul{
            margin: 0;
            text-align: left;
        }
    }

    .grid3{
        p{
            margin-top: 10px;
            font-size: small;
        }
        .emailcontact{
            margin-top: 10px;
            color: $btn-bg-pink;
        }
    }
}

.copyright{
    color: white;
    font-size: small;
}