@use '../breakpoints/' as *;
@use '../globals/' as *;

// CRUCH FITNESS INFO

.CrunchFitnessinfo{
text-align: center;
padding: 3rem 0;
    .cfctext{
        font-size: 43px;
        font-weight: 700;
        margin: 2rem 0;

    }
    p{
        font-size: 25px;
        line-height: 30px;
        max-width: 800px;
        margin: 0 auto;
    }
}

// FOOTLANDIND SECTION

.foot-landing {
    // background-color: RED;
    min-height: 200px;
    background-color: $txt-colour-black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flgrid{
    display: flex;
    justify-content: center;
    height: 301px;
    // outline: 2px solid pink;
    width: 301px;
    align-items: center;
    // background-color: grey;
    img {
        display: none;
        width: 45px;
        height: 45px;
        
    }
    &:hover{
        img {
            display: block;
            }
            opacity: 70%;
    }
}

// FOOTLANDING GRID IMAGES

.flgrid-1 {
    @include flgrid1-bg;
}
.flgrid-2 {
    @include flgrid2-bg;
}
.flgrid-3 {
    @include flgrid3-bg;
}
.flgrid-4 {
    @include flgrid4-bg;
}