@use '../breakpoints/' as *;
@use '../globals/' as *;



// RESPONSIVE QUERIES
@include devices(mobile) {
    .header{
        height: 500px !important;
    }
    nav{
        
        padding: 1rem;
        height: fit-content;
        ul {
            display: flex;
            gap: 0.5rem;
            font-weight: 700;
            a {
                color: white;
                font-size: 10px;
            }
        }
        .logo{
            font-size: 0.8rem !important;
            
        }
        
    }
    .hero {
        color: white;
        text-align: center;
        h1 {
            margin: 0 auto;
            font-weight: $header-fontweight;
            font-size: 20px !important;
            max-width: 15rem !important;
        }
        p{
            font-size: 10px !important;
        }
        
    }
}
// HEDER
.header{
    display: grid;
    @include header-bg;
    height: 900px;

    


    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        height: fit-content;
        ul{
            display: flex;
            gap: 1rem;
            font-weight: 700;
            a {
                color: white;
            }
        }
        .logo{
            font-size: 1.5rem;
            font-weight: 700;
            color: white;
            .fitness{
                color: $btn-bg-blue;
            }
        }
        
    }
    .hero {
        color: white;
        text-align: center;
        h1 {
            margin: 0 auto;
            font-weight: $header-fontweight;
            font-size: $header-cap-fontsize;
            max-width: 30rem;
        }
        p {
            color: aliceblue;
        }
    }
}

button {
    @include btn-pink;
   
    }

    .nav-btn{
        @include devices (mobile) {
            display: none;
        }
    }