@use '../breakpoints/' as *;
@use '../globals/' as *;



// RESPONSIVE QUERIES

@include devices(mobile) {

}


.schedules {
    padding: 75px 0;

    .sechead {
        @include devices(mobile) {
            padding: 2rem ;
            flex-direction: column;
            gap: 5px;
            .schedule {
                font-size: 28px !important;
            }
        }
        display: flex;
        justify-content: space-between;
        padding: 2.4rem 8rem;

        .secheadleft {
            display: flex;
            input {
                border: 2px dashed ;
                padding: 10px;
            }
        }
        .schedule{
            font-size: 35px;
            font-weight: 700;
            margin-right: 14px;
        }
    }
}


// SCHEDULE CARDS SECTIONS

.schedulecards {

    @include devices(mobile) {
grid-template-columns: auto;
    }
    @include devices(tablet) {
        grid-template-columns: auto auto;
    }
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 15px;
}

.scardauthor {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        
}
}

.scardtitle {
    font-size: 20px;
    font-weight: bolder !important;
   }

.scard {
    height: 250px;
    width: 364px;
    background-color: #F0F2F8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    

   .scardtop {
    display: flex;
    justify-content: space-between;
    .date {
        font-size: 14px;
    }
    .exercise {
        display: flex;
        font-size: 13px;
        span.exdot {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            
            margin-right: 2px;
    }
   }
    
    .scardfoot {
    
       h2{
        font-size: 14px;
       }

       

       .scardauthor {
        .img {
            width: 40px;
            height: 40px;
        }
        .scaname{
            font-size: 14px;
           }
       }
    }
}}

// INDIVIDUAL CARD STYLES

.sc1 {

    .sc1s {
        background-color: rgb(65, 91, 255);
       
        }
    &:hover {
        color: white;
        background-color: rgb(65, 91, 255);
        .sc1s{
            background-color: white;
        }
    }
}

.sc2 {

    .sc2s {
        background-color: #ffdc49;
       
        }
    &:hover {
        color: black;
        background-color: #ffdc49;
        .sc2s{
            background-color: black;
        }
    }
}
.sc3 {

    .sc3s {
        background-color: rgb(65, 91, 255);
       
        }
    &:hover {
        color: white;
        background-color: rgb(65, 91, 255);
        .sc3s{
            background-color: white;
        }
    }
}
.sc4 {

    .sc4s {
        background-color: red;
       
        }
    &:hover {
        color: white;
        background-color: red;
        .sc4s{
            background-color: #ffdc49;
        }
    }
}
.sc5 {

    .sc5s {
        background-color: rgb(65, 255, 75);
       
        }
    &:hover {
        color: white;
        background-color: rgb(65, 255, 75);
        .sc5s{
            background-color: rgb(217, 17, 243);
        }
    }
}
.sc6 {

    .sc6s {
        background-color: rgb(50, 169, 190);
       
        }
    &:hover {
        color: white;
        background-color: rgb(50, 169, 190);
        .sc6s{
            background-color: rgb(153, 78, 28);
        }
    }
}