@use 'breakpoints' as *;
@use 'globals' as *;
@use 'sections' as *;


body{
    font-family: 'Montserrat', sans-serif;
}

p{
    margin-top: 0;
}

a {
    padding-bottom: 2px;
    &:hover{
        color: $btn-bg-pink !important;
        border-bottom: 2px solid rgba(255, 192, 203, 0.664);
    }
}
a, a:visited {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}