@use '../breakpoints/' as *;






// BTN 
@mixin btn-pink {
    background-color: orangered;
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding: 0 25px;
    border: none;
    height: 38px;
    
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;
}

@mixin header-bg {
    background-image: url(/images/slide_2.jpg);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
}

// CLASSES CARD BG IMG

@mixin ccd1-hover-bg {
    transition-delay: 0.2s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: linear;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    background-blend-mode: multiply;
    background-position: center;
    background-image: url(/images/yoga.jpg);
}

@mixin ccd2-hover-bg {
    transition-delay: 0.2s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: linear;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    opacity: 0.9;
    background-position: center;
    
    background-image: url(/images/swim.jpg);
}

@mixin ccd3-hover-bg {
    transition-delay: 0.2s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: linear;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    background-blend-mode: multiply;
    background-position: center;
    background-image: url(/images/fitness.jpg);
}

@mixin ccd4-hover-bg {
    transition-delay: 0.2s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: linear;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    background-blend-mode: multiply;
    background-position: center;
    background-image: url(/images/crunch\ abs.jpg);
}


//  TRAINER CARDS 

@mixin trc1-bg {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    &:hover{
        filter: brightness(85%);
    }
    background-position: center;
    background-image: url(/images/trainer.jpg);
}
@mixin trc2-bg {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    &:hover{
        filter: brightness(85%);
    }
    background-position: center;
    background-image: url(/images/trainer-2.jpg);
}
@mixin trc3-bg {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    &:hover{
        filter: brightness(85%);
    }
    background-position: center;
    background-image: url(/images/trainer_3.jpg);
}
@mixin trc4-bg {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    &:hover{
        filter: brightness(85%);
    }
    background-position: center;
    background-image: url(/images/trainer_4.jpg);
}
@mixin trc5-bg {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    &:hover{
        filter: brightness(85%);
    }
    background-position: center;
    background-image: url(/images/trainer_5.jpg);
}
@mixin trc6-bg {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    &:hover{
        filter: brightness(85%);
    }
    background-position: center;
    background-image: url(/images/trainer.jpg);
}

// TRAINER SOCIAL ICONS

@mixin soc-twitter {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    background-image: url(/images/twitter.svg);
}

@mixin soc-linkedin {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    background-image: url(/images/linkedin-in.svg);
}

@mixin soc-insta {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    background-image: url(/images/instagram.svg);
}


// CRUNCH VIDEO PLAY 

@mixin vidplay-gb{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    background-image: url(/images/play-solid.svg);
}

@mixin crunchsec-bg {
    background-repeat: no-repeat;
    background-position: center;
    // background-blend-mode: hard-light;
    background-size: 100% 100%;
    // filter: brightness(60%);
    background-image: url(/images/video_img.jpg);
}


// FOOTLANDING SECTION, GRID BG IMG

@mixin flgrid1-bg {
    background-repeat: no-repeat;
    background-position: center;
    // background-blend-mode: hard-light;
    background-size: 100% 100%;
    // filter: brightness(60%);
    background-image: url(/images/footlanding-1.jpg);

}
@mixin flgrid2-bg {
    background-repeat: no-repeat;
    background-position: center;
    // background-blend-mode: hard-light;
    background-size: 100% 100%;
    // filter: brightness(60%);
    background-image: url(/images/footlanding-2.jpg);

}
@mixin flgrid3-bg {
    background-repeat: no-repeat;
    background-position: center;
    // background-blend-mode: hard-light;
    background-size: 100% 100%;
    // filter: brightness(60%);
    background-image: url(/images/footlanding-3.jpg);

}
@mixin flgrid4-bg {
    background-repeat: no-repeat;
    background-position: center;
    // background-blend-mode: hard-light;
    background-size: 100% 100%;
    // filter: brightness(60%);
    background-image: url(/images/footlanding-4.jpg);

}