
@use '../breakpoints/' as *;


.swiper-wrapper {
    width: 100%;
    height: 100%;
    overflow-x: scroll ;
    // background-color: yellow;
    padding: 1rem;
  }

//   .swiper-slide {
//     text-align: center;
//     font-size: 18px;
//     background: #fff;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }

//   .swiper-slide img {
//     // display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }