

//  VARIABLES

$txt-colour-black: black;
$btn-bg-pink: #FF5100;
$btn-bg-blue: rgb(119, 73, 255);
$header-cap-fontsize: 41px;
$header-fontweight: 700;
$btn-fontsize: 14px;
$btn-fontweight: 400;
$btn-borderradius: 19px;
$btn-height: 38px;
$btn-padding: 0 25px;


$txt-miniheader-fontsize: 35px;
$txt-miniheader-fontweight: 700;
$txt-normal-fontsize: 17px;
$txt-small-fontsize: 14px;


//  CARDS SCHEDULE
$schedulecard-bg-milk:rgb(190, 192, 197) ;
$schedulecard-hover: rgb(119, 73, 255);